@import "normalize";
@import "lightgallery";
@import "lg-transitions";
@import "uikit.min";
@import "uikit-rtl.min";

//Thumbnails

figure{
    margin:0;
}

//Styling

.headerbar{
  background-color: black;
  display:flex;
  justify-content:space-evenly;
  
}

a{
  text-decoration:none;
  color:white;
  font-family: avenir;
  padding:10px;
  font-size:1.25em;
  
}

a:hover{
  color:#D9D5C5;
  text-decoration:none;
}

h1{
  text-align:center;
  font-size:3em;
  letter-spacing: 3px;
font-family: 'Dawning of a New Day', cursive;
  
}