@import "normalize";
@import "lightgallery";
@import "lg-transitions";
@import "uikit.min";
@import "uikit-rtl.min";
@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

//Thumbnails


//Styling

//Social Media Bar

footer{
    background: black;
    width:100%;
    height:10%;
}
a {
    text-decoration: none;
    color: #fff;
}
p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:  1% 0 1% 0;
}
._12 {
    font-size: 1.2em;
}

ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: Black;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;

}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;

}

.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;

}


//END

h2{
    font-family: impact;
    
    
}
.me{
    max-width:20%;
    border-radius: 50%;
    z-index: 1;
    position: relative;
    margin-top: -10%;
    margin-left: 40%;
   
}

.input, .submit{
  border-radius:5px;
  width:300px;
 
}

#contact_form{
  font-size:.95em;
  font-family:avenir;
  text-align:left;
}
  
.headerbar{
  background-color: black;
  display:flex;
  justify-content:space-evenly;
  
}

a{
  text-decoration:none;
  color:white;
  font-family: avenir;
  padding:10px;
  font-size:1.25em;
  
}

a:hover{
  color:#fff7ac;
  text-decoration:none;
}

h1{
  text-align:center;
  font-size:3em;
  letter-spacing: 3px;
 font-family: 'Sacramento', cursive;
    padding:10px;
  
}